.s3 {
    background-color: gray;
    margin:0 auto;
    text-align:center;
    height:80px;
    width:500px;
}

#pt1 {
    height: 100vh;
    display: flex;
    align-items: center;
}
.module-content .section-content {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.009em;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

